<!-- <div [formGroup]="registration">
  <div *ngFor="let field of registration.controls()">
    <label [attr.for]="field.key">{{field.key}}</label>
    <div [ngSwitch]="field.type">
      <div *ngSwitchCase="text">output</div>
      <div *ngSwitchCase="combo">output</div>
      <div *ngSwitchCase="date">output</div>
    </div>

  </div>

</div> -->

<ng-container [formGroup]="registration">
  <ng-container *ngFor="let field of fields">
    <dynamic-input [props]="field"></dynamic-input>
  </ng-container>
</ng-container>
<div>
  {{registration.value | json}}
</div>
<div>
  isValid: {{registration.valid}}
</div>